<div class="menu-wrapper">
  <div class="menu--left"><p class="title is-5">{{drink.name}}</p></div>
  <div class="menu--middle">
    <div class="description-container">
      <p class="title is-5">{{drink.description}}</p>
    </div>
  </div>
  <div class="menu--right">
    <p class="title is-5">${{drink.price}}</p>
    <p class="control__add">
      <span class="qty">
        {{#power-select
        options=quantities
        selected=quantitySelected
        placeholder="Qty"
        onchange=(action (mut quantitySelected))
         as |quantity|
       }}
         {{quantity}}
         {{/power-select}}
       </span>

       <a class="button is-info" {{action "addToCart"}}>
             Add
      </a>
     </p>
   </div>
  </div>



        {{!-- <h1 class="title is-5">{{drink.name}}</h1>
        <p class="title is-5">{{drink.description}}</p>
        {{!-- <p class="title is-5">${{drink.price}}</p> --}}
      {{!-- <div class="is-pulled-right">
      {{!-- <p class="control__add">
        <span class="qty">
          {{#power-select
          options=quantities
          selected=quantitySelected
          placeholder="Qty"
          onchange=(action (mut quantitySelected))
           as |quantity|
         }}
           {{quantity}}
           {{/power-select}}
         </span>

         <a class="button is-info" {{action "addToCart"}}>
               Add
        </a>
       </p>
     </div>   --}}


{{yield}}
