
  <div class="level is-mobile">
    <div class="level-left">
      <div class="control">
        <div class="title is-3">{{drink.name}}</div>
        <p class="subtitle">${{drink.price}}</p>
      </div>
      <p class="title is-6 is-pulled-left">{{drink.description}}</p>
    </div>
    <div class="level-right">
      <p class="control__add">
        <span class="qty">
          {{#power-select
          options=quantities
          selected=quantitySelected
          placeholder="Qty"
          onchange=(action (mut quantitySelected))
           as |quantity|
         }}
           {{quantity}}
           {{/power-select}}
         </span>

         <a class="button is-info" {{action "addToCart"}}>
               Add
        </a>
       </p>
     </div>
   </div>

{{yield}}
