{{log currentUser.user.shop}}

{{#simple-form class="form" startingValues=currentUser.user.shop onsubmit=(action "saveUser") as |formValues| }}
  <div class="card-body">
    {{#link-to "coffee-shop-account.account" class=" is-pulled-right" }}Back{{/link-to}}
  </div>
  <label class="label">Name of coffee shop</label>
  <p class="control">
    {{input class="input" required="true" type="text" placeholder="Name of Coffee Shop" value=formValues.name}}
  </p>
  <label class="label">Short description of your shop</label>
  <p class="control">
    {{input class="input" type="textarea" required="true" placeholder="Description" value=formValues.description}}
  </p>
  <label class="label">Image of your coffee shop</label>
  <p class="control">
    {{input class="input" required="true" type="text" placeholder="URL" value=formValues.picture}}
  </p>
  <label class="label">Address</label>
  <p class="control">
    {{input class="input" required="true" type="text" placeholder="Address" value=formValues.street}}
  </p>
  <label class="label">City</label>
  <p class="control">
    {{input class="input" required="true" type="text" placeholder="City" value=formValues.city}}
  </p>
  <label class="label">State</label>
  <p class="control">
    {{input class="input" required="true" type="text" placeholder="State" value=formValues.state}}
  </p>
  <label class="label">zip/postal Code</label>
  <p class="control">
    {{input class="input" required="true" type="text" placeholder="Zip" value=formValues.zip}}
  </p>
  <label class="label">Phone Number</label>
  <p class="control">
    {{input class="input" required="true" type="text" placeholder="Phone Number" value=formValues.phone}}
  </p>

  <div class="card-footer">
    <button class="card-footer-item">Submit</button>
  </div>
{{/simple-form}}
