<div class="columns is-multiline">
  {{shop-header shop=shop}}
</div>


<div class="section">
  {{#each model.drinks as |drink|}}
    <div class="box">{{shop-menu-item drink=drink onAddToCart=(action "addToCart")}}</div>
  {{/each}}

  {{#each cart as |cartItem|}}
    <div class="box">
      <h2>{{cartItem.drink.name}} - {{cartItem.quantity}}</h2>
    </div>
  {{/each}}
  </div>

<button {{action (perform checkout)}} class="button button-is-br-none is-large is-fullwidth is-info">
  <span class="icon">
    <i class="fa fa-shopping-cart"></i>
  </span>
  <span>Checkout</span>
</button>
