<article class="message is-success">
  <div class="message-header">
    Your Order is Complete!
  </div>
  <div class="message-body">
    <h4 class="subtitle">Order Details</h4>


    <table class="table" style="background: inherit;">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Qty</th>
          <th>Total Price</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.lineItems as |lineItem|}}
          <tr>
            <td>{{lineItem.drink.name}}</td>
            <td>{{format-money lineItem.drink.price}}</td>
            <td>{{lineItem.quantity}}</td>
            <td>{{format-money (mult lineItem.quantity lineItem.drink.price)}}</td>
          </tr>
        {{/each}}
        <tr>
          <td></td>
          <td></td>
          <td>Total:</td>
          <td>
            {{format-money (price-total model.lineItems) }}
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Tax:</td>
          <td>{{format-money (mult (price-total model.lineItems) taxRate) }}</td>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th>Total with Tax:</th>
          <th>
            {{format-money
              (add
                (price-total model.lineItems)
                (mult (price-total model.lineItems) taxRate)
              )}}
          </th>
        </tr>
      </tbody>
      {{!-- <thead>
           <tr>
             <th>Price</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>{{lineItem.drink.price}}</td>
      </tr>
      </tbody> --}}
    </table>
  </div>
</article>
