{{#link-to "coffee-shop-account.account.edit" class=" is-pulled-right " }}Edit{{/link-to}}

<table class="table" style="background: inherit;">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{currentUser.user.shop.name}}</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{currentUser.user.shop.description}}</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>City</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{currentUser.user.shop.city}}</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{currentUser.user.shop.state}}</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>zip/postal code</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{currentUser.user.shop.zip}}</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>Phone Number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{currentUser.user.shop.phone}}</td>
    </tr>
  </tbody>

</table>
